@media(max-width: 600px){
  body{
    padding: 10px;
    font-size: 1em;
  }
  h1{
    font-size: 2em;
  }
  p, li{
    font-size:1em;
  }

}
.wings{
  width:350px;
  height:250px;
  border: 3px solid #9caf88;
  border-radius: 10px;
  margin: 10px;
}
.study{
  width:350px;
  height:250px;
  border: 3px solid #9caf88;
  border-radius: 10px;
  margin: 10px;
}
.lovebody{ 
  background-color: #ffe4b5;
  border: 2px solid #d2691e;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 10px;

}
body{
  background-color: #f5f5dc;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px;
  padding: 2px;
}
p{
  background-color: white;
  border: 3px solid #9caf88;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

h1{
  text-align: center;
}
.headerthings{
  color: black;
  text-align: center;
}
.lovelist {
  margin: 10px 0;
  padding: 10px;
  background-color: #fafad2;
  border-radius: 5px;
}

nav {
  background-color: #9caf88;
  padding: 10px;
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li{
  margin: 10px 5px 0;
  padding: 10px;
  background-color: #fafad2;
  border-radius: 5px;
}
.gaming{
  width: 350px;
  height: 250px;
}
a{
  color: #0066cc;
}
svg {
  display: block;
  margin: 20px auto; 
  width: 100px;
  height: 100px;
}

svg circle {
  stroke: black; 
  stroke-width: 3;
  fill: gold; 
}
